.expense_div {
  display: flex;
  justify-content: center;
  min-width: 400px;
  /* border: 2px solid purple; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 10px;
  min-height: 200px;
  background-color: rgb(176, 176, 176);
  border-radius: 15px;
}

select, input {
  border: 1px solid grey;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
}

.addExpense
{
    border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
  font-size: 15px;
  padding: 10px 3px;
  background-color: orange;
}

.cancle
{
    border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
  font-size: 15px;
  padding: 10px 3px;
}