.list_card
{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    /* border-bottom:  2px solid red; */
}

.card_left_div
{
    /* border: 2px solid palevioletred; */
    display: flex;
}
.card_right_div
{
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_icon{
    background-color: rgb(204, 204, 204);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.item_date_div
{
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0px 20px;
}

.item_name
{
    color: black;
    font-weight: 600;
}
.date
{
    color: rgb(75, 75, 75);
}

.card_price
{
    font-weight: bolder;
}