.pie_chart_div {
  display: flex;
  justify-content: center;
  min-width: 400px;
  border: 2px solid purple;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
  margin: 10px;
  min-height: 200px;
  background-color: rgb(176, 176, 176);
  border-radius: 15px;
}
