  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .app_div
  {
    background-color: rgb(63, 63, 63);
    /* border: 5px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
